@-ms-viewport {
  width: device-width; }

html {
  overflow: hidden; }
  html body {
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

h1 {
  display: inline; }

.viewport {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .viewport .drawer {
    position: absolute;
    width: 250px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #999999; }
    .viewport .drawer::-webkit-scrollbar {
      display: none; }
    .viewport .drawer nav a {
      padding: 200px 10px;
      color: #eeeeee;
      display: block;
      text-decoration: none; }
      .viewport .drawer nav a:hover {
        color: blue; }
  .viewport .main {
    box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    color: #eeeeee;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    body.show-drawer .viewport .main {
      -webkit-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0); }
    .viewport .main .main-window {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column; }
      .viewport .main .main-window .header {
        padding: 5px;
        background-color: blue; }
      .viewport .main .main-window .middle {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow-y: scroll;
        background-color: #eeeeee;
        color: blue;
        -webkit-overflow-scrolling: touch; }
        .viewport .main .main-window .middle .inner {
          position: relative; }
          .viewport .main .main-window .middle .inner .content {
            padding: 5px;
            position: absolute; }
      .viewport .main .main-window .footer {
        padding: 5px;
        background-color: red; }
    .viewport .main .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5); }
